**/.vagrant/**
*.pyc
**/__pycache__/**
**/.idea

system_tests/input
system_tests/assignments
system_tests/logs
system_tests/scenarios
system_tests/scenarios/*.yaml!
system_tests/scenarios/sample-story!
/build
/bin
/coverage
test_detail.xml
